/* Das Einstellungsdiv ist am Anfang sichtbar und wird dann mit JS unsichtbar */ 

#Einstellungsdiv {
   max-width : 900px; margin: auto; max-height : 1500px;
   text-align: center;
   background-color: rgba(12, 11, 11, 0.842);
   border-radius: 5%;border: none;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 10px; 
   color: rgba(255, 255, 255, 0.7);
   }

 .Zeilediv {
    display : flex; 
    flex-direction : row; 
    justify-content : center; 
    align-items : center;
    width : 100%; height : 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 4vmin; 
    }
   .text {
     width : 30%;
     margin : 0 auto;
     text-align: right;
     color: #ffffff;
     }
    .bereich {
     width : 50%; height : 100%;
     margin : 0 auto;
     cursor : pointer;
     color: red


    }
    .wert {
      width : 10%;
      margin : 0 auto;
    color: #ffffff
    ;
    }

 #startknopf{
    background-color: rgb(165, 32, 32);
    color: rgba(255, 255, 255, 0.7) ;
    height:90px; width:100px; margin: 30px;
    border-radius: 5%;
    border: none;
    cursor: pointer;
   }

 #Medienwahl, #Fotomodus{
    background-color:#0aeb4e44;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    max-width: 40%;
    padding:.75em 1em .5em 1em;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    }
    
  option{
    background-color:#6b756c;
    color: white;
    }
    


/* Ab hier am Anfang unsichtbar */ 

#zeigendiv {
   margin-top: 30pt;
   text-align: center;
   display : flex;flex-direction : column; justify-content : space-between;
   align-items : center;border-radius: 5%;border: none;
   visibility: hidden;
   background-color: rgba(0, 0, 0, 0.129)
   }

 #Textanzeige {
   color: rgb(255, 255, 255);
   margin-top: 50px; margin-bottom: 50px;
   font-size: 40px;height: 20px;
   }

 #Rundenanzeige {
  background-color: white;
  border-radius : 2vmin;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 6vmin; text-align: center
 }


 #Zeitanzeige {
   background-color: white;
   margin : 5% auto;
   border-radius : 2vmin;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 6vmin; text-align: center
   }

 #zurückknopf {
   background-color: rgba(0, 0, 0, 0.432); color: rgb(182, 182, 182) ;
   margin-top: 20px; margin-bottom: 20px; 
   height:50px;  width:100px;  
   border-radius: 5%;border: none;
   cursor: pointer;
   }


 #Gesamtbalken {
   text-align: center;
   display : flex; flex-direction : column; flex-direction: row; justify-content : space-between;
   align-items : center;
   width: 500px;;
   }

 #Balkenzeit {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 10vmin; 
   align-items:center;
   width: 500px;
   height:200px;
   background-color: rgb(255, 255, 255);
   color: #FF4E4E;
   margin: auto;
   font-size: 140px;
   }

 /* Foto */   
 /* Alle Knöpfe wie folgt: */
button {
  background-color: #000000; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
}

/* der Stream soll nicht angezeigt werden, Ansonsten mit der Defaultauflösung */
#streamansicht{
  display: none;
  width: 640;
  height: 480;
}
/* das gemachte Bild sollmit mit der Defaultauflösung angeigt werden */
#bildcanvas{
  width: 640;
  height: 480;
}


  