html,body{
     width: 100%;
     height: 100%;
     background-color: black; 
      /* feste Postion kein scrollen -> geeignet für flexbox divs -> relative größenangaben */
     position: fixed;
     margin: 0;}

#Einstellungsdiv {
  width: 100%;
  height: 100%;
  margin: 0%;
    /* ist flexbox div -> besondere Angaben */
  display : flex; 
      flex-direction : column; 
      justify-content:space-evenly; 
      align-content: space-between;}

 #startdiv {text-align: center;height: 20%;}                 
    #startknopf{
       background-color: #00ff00;
       color: black;
       height:90%; 
       width: 30%; 
       border-radius: 5%;
       text-align: center;
       border: none;
       cursor: pointer;}

#moduswahldiv {margin: 3%}
    /* für edge, firefox, chrome den dropdown Pfeil entfernen */
    select::-ms-expand {display: none;}
      select {-moz-appearance: none;-webkit-appearance: none;}
    
       .switch {
        float: right;
        position: relative;
        width: 60px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        background-color: rgb(115, 115, 115);
        border-radius: 34px;
        position: absolute;
        cursor: pointer;
        text-align: right;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        float: right;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: rgb(255, 255, 255);
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }
  
  
      
      input:checked + .slider {
        background-color:#00ff00;
        text-align: justify;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #ee81ee;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
    


    #Medienwahl {
        background-color: rgb(115, 115, 115);
        float: left;
      text-align: center;
      border: none;
      width: 60px;
      height: 34px;
     color: #ffffff; 
     border-radius: 34px;
        cursor: pointer;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
      
       }
    option {background-color: black;}
     
  
 #zeitwahldivldiv {margin-bottom: 3%;width: 100%; }    
       .Zeilediv {
            width : 100%; 
             margin: 3%;
             display : flex; 
               flex-direction : row; 
               justify-content : space-evenly; 
               align-items: stretch;}
                  .text {
                     width : 20%;
                     text-align: left;
                     color: #ffffff; }     
                   #eindauer,#einruhe,#einrunden {
                     width : 60%; 
                     cursor : pointer;
                    color: antiquewhite;}
                   #dauer,#ruhe,#runden {
                     width : 10%;
                     color: white;
                     text-align: center}

    
  
/* Ab hier am Anfang unsichtbar */ 
#zeigendiv {
   width: 100%;
   height: 80%;
   display: flex;
   flex-direction : column; 
   justify-content : space-between;
   align-items : center;
   border-radius: 5%;
   border: none;
   visibility: hidden;
   }

 #Textanzeige {
   color: rgb(255, 255, 255);
   margin-top: 5%
   }

 #Rundenanzeige,#Zeitanzeige {
  font-size: 150%;
  background-color: white;
  border-radius : 10%;
  text-align: center;
  margin:5%
 }

 #zurueckknopf,#herunterladenknopf {
   background-color: rgba(0, 0, 0, 0.432);
   color: rgb(182, 182, 182) ;
   border: none;
   cursor: pointer;
   }
   
 #Gesamtbalken {
   display : flex; 
   flex-direction: row; 
   align-items : center;
   background-color: rgba(87, 88, 89, 0.429);
   width: 340px;
   height: 0px;
   }

 #Balkenzeit { 
  display: flex;
  justify-content:center;
  background-color: white;
   align-items:center;
   width: 340px;
   height: 300px;
   margin: auto;
   }

 /* Foto */   
#Gesamtfotodiv{ width: 60% ; height: 40%;text-align: center; }
 /* bedeutungslos */   
#Videoaufnahme{ display: none;}
/* der Stream soll nicht angezeigt werden, Ansonsten mit der häfte der Defaulaulösung von 640/480 */
#streamansicht{ display: none;}
/* größe des Anzeigendiv. Die Anzahl der Pixel richtet sich nach den Angaben bei contraints des Videos  */
#bildcanvas { width: 50%; height: 70%; display: flex;  margin: auto;}
  
