/* Das Einstellungsdiv ist am Anfang sichtbar und wird dann mit JS unsichtbar */ 

#Einstellungsdiv {
   max-width : 900px; margin: auto; max-height : 1500px;
   text-align: center;
   background-color: rgba(12, 11, 11, 0.842);
   border-radius: 5%;border: none;
   font-size: 10px; 
   color: rgba(255, 255, 255, 0.7);
   }

 .Zeilediv {
    display : flex; 
    flex-direction : row; 
    justify-content : center; 
    align-items : center;
    width : 100%; height : 10%;
    }

   .text {
     width : 30%;
     margin : 0 auto;
     text-align: right;
     color: #ffffff;
     }
    .bereich {
     width : 50%; height : 100%;
     margin : 0 auto;
     cursor : pointer;
  
    }
    .wert {
      width : 10%;
      margin : 0 auto;
    color: white
    }

    
 #startknopf{
    background-color: white;
    color: black;
    height:90px; width:100px; margin: 30px;
    border-radius: 5%;
    border: none;
    cursor: pointer;
   }

 #Medienwahl, #Fotomodus{
    background-color:white;

    border: none;
    max-width: 40%;
    padding:.75em 1em .5em 1em;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    }
    
  option{
    background-color: white
   
    }
    


/* Ab hier am Anfang unsichtbar */ 

#zeigendiv {
   margin-top: 30pt;
   text-align: center;
   display : flex;flex-direction : column; justify-content : space-between;
   align-items : center;border-radius: 5%;border: none;
   visibility: hidden;
   background-color: rgba(0, 0, 0, 0.129)
   }

 #Textanzeige {
   color: rgb(255, 255, 255);
   margin-top: 50px; margin-bottom: 50px;
   font-size: 40px;height: 20px;
   }

 #Rundenanzeige {
  background-color: white;
  border-radius : 2vmin;
  margin-top: 20px;

  font-size: 6vmin; text-align: center
 }


 #Zeitanzeige {
   background-color: white;
   margin : 5% auto;
   border-radius : 2vmin;

   font-size: 6vmin; text-align: center
   }

 #zurückknopf {
   background-color: rgba(0, 0, 0, 0.432); color: rgb(182, 182, 182) ;
   margin-top: 20px; margin-bottom: 20px; 
   height:50px;  width:100px;  
   border-radius: 5%;border: none;
   cursor: pointer;
   }


 #Gesamtbalken {
   text-align: center;
   display : flex; flex-direction : column; flex-direction: row; justify-content : space-between;
   align-items : center;
   width: 500px;;
   }

 #Balkenzeit {
   font-size: 10vmin; 
   align-items:center;
   width: 500px;
   height:200px;
   background-color: rgb(255, 255, 255);
   margin: auto;
   font-size: 140px;
   }

 /* Foto */   
 /* Alle Knöpfe bis auf die mit Extraregeln wie Start wie folgt: */
button {
  background-color: #000000; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
}
#Videoaufnahme{
 
   text-align: center;
   display : flex;flex-direction : column; justify-content : space-between;

}
/* der Stream soll nicht angezeigt werden, Ansonsten mit der häfte der Defaulaulösung von 640/480 */
#streamansicht{
  display: none;
}

/* größe des Anzeigendiv. Die Anzahl der Pixel richtet sich nach den Angaben bei contraints des Videos  */
#bildcanvas
{ width: 320px;
  height: 240px;
}
  